language: node_js
node_js:
- 14.15.4
env:
  global:
    - NODE_ENV=test
before_install: if [[ `npm -v` != 14.15.4 ]]; then npm i -g npm@14.15.4; fi
install:
  - npm run ci
script:
  - npm run lint
  - npm test
deploy:
  provider: heroku
  api_key: 
    secure: ixg60QRfXHAwaU/HPiEUX1OTnHR4iOoVaHTKTgw3SvB+FVJl3KJcRfvOF/yJqxloiKMWWpK3Vb0uvuGJkU6CcJSRdCTXu4pEdmcQ1wwi6X30S7eYmpN56IAQV/ZCY3F4T/3+gw8Y+vR5ZTiYL9ptX18slOLOhXMTSKesfuMhhqEmDmbg20toZFGkvLTMZwJ30LM8UDxEXOXh8kv2ZwOwMCdnBzizk5jv82w9k79zxNBinlC6NG4ESBs3sWYWuVANRXNy0tYGthledmx5i+QPyzn934mMHcvT6kwJIxtWCHyeOzN+E3ycOEERlxbUxrmzSlRPt/HgfwOmW68+dvhKNglCuwxRBGGh0UYHt18rSDrPPilojDKAJxj/Hyu334PZfHBmucbYA1GmZgSFYrtTUQLsSajhw1/76ok2ffIaEu+VTukSO7U371ZhpYO61QE09fvhFRFTEpqZuf7B2TcxSwiartVLJiseTjslNSrvDevD1YPz3X+RFAnokS60SfICUJDcyyDp2JOFdqQ6W7T8hoozWWDRZkyIAoSZxgO478DvVRm+CKV6f9KW9/4dtLrz/p0s/7xlSw9eFwo+9E5GhIaUdGwL71gJfzTcXyVGQ3nzAP0MsDT1diclUsWdbONk0Vet71PrO0QMnBGjdBfc/RafUTVtFn7a4RDylvQpEnI=
  app: ssn-app-staging